# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (Expo managed)
ios/
android/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db

# Certificates / keys
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# env files (VERY IMPORTANT)
.env
.env.*
.env*.local

# TypeScript
*.tsbuildinfo

# Kotlin
.kotlin/
